/*p, a {
	width: 20%;
	margin: 20px;
	padding: 30px;
	border: 2px solid black;
	display: block;
}*/

.wrapper {
	background: #fff;
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

.wrapper:after{
	content: "";
	display: block;
	clear: both;
}

.service h2, .service p {
	color: #999;
	margin: 10px 0;
	text-align: center;
}

.service {
	float: left;
	background: #eee;
	width: 29.33%;
	margin: 1%;
	padding: 1%;
	height: 140px;
	position: relative;
}
.service:nth-child(1){
	top: 5px;
}
.service:nth-child(2){
	top: 15px;
}
.service:nth-child(3){
	top: 25px;
}




.content {
	margin: 20px 1%;  /* margin is not affecting because  */
	padding: 10px;
	/*background: #ccc;*/
	clear: left;
/*	position: relative;
	left:50px;
	top: 50px;*/
	/*relative stay in the position with left we offseting the area*/
	/*both clear left and right floats to clear normal document flow*/
	/*so you can also clear left because you set float left*/
	/*absolutly wherever on the page*/
}
/*after means it will be placed something after services class*/
.services:after{
	content: "";
	display: block;
	clear: both;

}

section, aside {
	float:left;
	width: 46%;
	padding: 1%;
	margin:1%;
	background: #f2f2f2;
}

.column:after {
	display: block;
	content: "";
	clear: both;
}

.content p {
	-webkit-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 50px;
	column-gap: 50px;
	-webkit-column-rule: 1px solid #ccc;
	column-rule: 1px solid #ccc;
	text-align: justify;
}

#banner {
	max-height: 300px;
	overflow: hidden;
	margin: 1%;
	position: relative;
}

#banner h2 {
	position: absolute;
	top: 30px;
	width: 100%;
	margin: 0;
	text-align: center;
	color: white;
}